<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<link type="text/css" rel="stylesheet" href="/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" />
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap" rel="stylesheet">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        
        
        <title>O ja R vaatelistaus</title>
    </head>
    <body>
        <h1>Vaatteet</h1>
        <div class="container shadow-4 rounded-5 overflow-hidden mb-0" >
            <table class="table table-stripped table-hover">
                <thead class="thead-dark">
                    <tr>
                        <th>ID</th>
                        <th>Nimi</th>
                        <th>Tyyppi</th>
                        <th>Hinta</th>
                        <th>Valmistaja</th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="product: ${products}" class="table table-bordered">
                        <td th:text="${product.id}"></td>
                        <td th:text="${product.name}"></td>
                        <td th:text="${product.type}"></td>
                        <td th:text="${product.price}"></td>
                        <td th:text="${product.manufacturer}"></td>
                        <td>
                            <a
                                th:href="@{/edit/{id}(id=${product.id})}" class="btn btn-warning"
                                >Muokkaa</a
                            >
                        </td>
                        <td>
                            <a th:href="@{/delete/{id}(id=${product.id})}" class="btn btn-danger"
                                >Poista</a
                            >
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
		<div class="container">
        	<a href="/add" class="btn btn-success">Lisää vaate</a>
        </div>
    </body>
</html>
